# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# npm
node_modules
*.log
*.gz

# nyc
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# VSCode
.vscode
